/*VARIABLES*/

:root {
    /*TOP MENU MARGINS*/
    --sideMargin: 60px;
    --topMargin: 30px;
}

/*FOOTER*/

#footerBar {
    background-color: #a8a8a8 !important;
    height: 100px;
}

#footerBarContent {
    position: absolute;
    width: calc(100% - 2 * var(--sideMargin));
    margin: var(--topMargin) var(--sideMargin) var(--topMargin) var(--sideMargin);
}

#footerCopyright {
    position: absolute;
}

#footerSocialBar {
    position: absolute;
    right: 0px;
}

.footerText {
    color: white;
    font-size: 1.2em;
}

.socialMedia {
    font-size: 20px;
    color: white;
    width: auto;
    margin-left: 20px;
}