/* If screen portrait, stack divs vertically */
@media screen and (orientation:portrait) {

    /* Variables */
    :root {
        --portraitGraphColHeight: 40%;
        --paletteDivHeight: 70px !important;
        --colPadding: 30px !important;
        --bottomMargin: 30px !important;
    }

    .col {
        display: block !important;
    }

    #col1 {
        width: 100% !important;
        height: var(--portraitGraphColHeight);
        background-color: white;
    }

    #col2 {
        width: 100% !important;
        top: var(--portraitGraphColHeight);
        left: 0 !important;
        height: calc(100% - var(--portraitGraphColHeight) - var(--bottomMargin));
        background-color: #f4f4f4;
    }

    #col1 div div {}

    #col1Header {}

    #col1Header h1,
    h2 {}

    /* GRAPH */
    #graph {}

    /* COLOR PALETTE */
    #paletteDiv {
        height: var(--paletteDivHeight);
    }

    /* FONTS */
    h1 {
        font-size: 4.2em !important;
    }

    h2 {
        font-size: 2.2em !important;
    }

    h3 {
        font-size: 1.8em !important;
    }
}